:root {
    font-family: "Poppins", serif;
    font-style: normal;

    --brand-color: #EF5F4C;
    --bg-color: #FFFFFF;
    --surf-color: #F5F5F5;
    --skel-color: #D9D9D9;
    --shape-transp: #FFFFFF;

    --text-primary: #313131;
    --text-second: #6C6C6C;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    max-width: 1280px;
    margin: auto;
}

nav a {
    font-size: 16px;
    line-height: 150%;
    color: var(--text-second);
    text-decoration: none;
    vertical-align: middle;
}

nav #buscar {
    width: 24px;
    color: var(--text-second);
}

nav #buscar:hover {
    color:var(--brand-color);
    text-decoration: underline;    
}

h1 {
    font-size: 32px;
    line-height: 125%;
    font-weight: bold;
}

#about {
    display: flex;
    background-color: var(--surf-color);
    flex-basis: auto;
}

#about p {
    font-size: 14px;
    line-height: 170%;
}
#about :nth-child(3) {
    display: flex;
    width: 384px;
}


main {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    background-color: var(--shape-transp);
    align-content: space-evenly;
    gap: 24px;
    padding: 24px 32px;
    
}

.mainimg {
    width: 286px;
}