div {
  background-color: black;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}

section {
  position: relative;
  border: 1px solid;
}

.position {
  background-color: red;

  position: sticky;
  top: 20px;
  right: 20px;
  z-index: auto;
}

/* .pos {
  background-color: bisque;
  position: relative;
  bottom: 100px;
  right: 10px;
  z-index: 2;
} */